{% extends 'layout.html' %}
{% load static %}

{% block content %}    

    <div class="container my-4">
        <h1 class="my-4">Hakkımızda</h1>
        <div class="row">
        <div class="col-md-6">
            <img class="card-img" style="width:550px; height:500px" src="{% static 'img/hakkimizda.jpg' %}" alt="">
        </div>
        <div class="col-md-6 ">
            <p>Film günlüğü hem sinemaseverlere hem de profesyonellere yönelik, filmler ve diziler hakkında güncel ve ayrıntılı bilgilerin kaynağıdır. Portal kullanıcılara sadece en son ve vizyona girecek filmleri değil aynı zamanda film önerilerini, oyuncuların biyografilerini, karakterler hakkında bilinmeyen ve ilginç bilgileri ve daha fazlasını sunmaktadır. Www.filmgunlugu.com sitesinde ve ayrıca “Film Haberleri” ve “Dizi Haberleri” bölümlerinde güncel haberler yer almaktadır. Sitede yer alan bilgilerin tamamen kopyalanması yasaktır. Kısmi alıntılamaya siteye bağlantı verilmesi koşuluyla izin verilmektedir. Daha fazla bilgi için “İletişim” sayfasından bize ulaşabilirsiniz.</p>
            <h3 class="my-4">Vizyonumuz</h3>
            <p>Film Dizi Haber ekibi olarak vizyonumuz, hazırladığımız yazılar ve görseller ile kişileri rencide edici sözlerden uzak, özel hayatın mahremiyetine saygı duyularak ziyaretçilerimize doğru bilgiler sunup onların keyifli vakit geçirmelerini sağlamaktır.</p>
        </div>
    </div>
    </div>

{% endblock %}